.load-more{
  position: relative;
  height: 39px;
  text-align: center;
  background: #EBF2FC;
  border: 1px solid #CDDCF9;
  cursor:pointer;
  margin:10px 0;
  .blue-text{
    color: #3B5998;
    padding:12px;
  }
  .spinner {
    height: 11px;
    width: 16px;
    background: url(/assets/loading.gif) no-repeat center;
    margin: 14px auto;
  }
}