<!DOCTYPE html>
<html>
<head>
  <title>Tableviewcontroller</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="questions">
  </div>
  <div id="answers">
  </div>
  <script id="template" type="text/x-handlebars-template">
  {{#questions}}
  <h2>{{title}}</h2>
  <div class="content">{{content}}</div>
  <h3>Answers_count: {{answers_count}} & Votes_count: {{votes_count}}</h3>
  {{/questions}}
  </script>
  <script id="answer-template" type="text/x-handlebars-template">
  {{#questions}}
  <h2>{{title}}</h2>
  {{/questions}}
  </script>
  <script type="text/javascript" charset="utf-8">
  $("#questions").tableViewController({template: "#template", dataSource: "/questions.json", sortby: "votes_count", order: "desc"});
  $("#answers").tableViewController({template: "#answer-template", dataSource: "/questions.json"});
  </script>
</body>
</html>
