<!DOCTYPE html>
<html>
<head>
  <title>Tableviewcontroller</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="questions">
  </div>
  <button id="load-more" data-curr-page="1" >loading more...</button>
<script id="template" type="text/x-handlebars-template">
  {{#questions}}
    <h2>{{title}}</h2>
    <div class="content">{{content}}</div>
  {{/questions}}
</script>
<script type="text/javascript" charset="utf-8">
  var template = Handlebars.compile($("#template").html());
  var get_questions = function(url) {
    $.get(url, function(data, textStatus, xhr) {
      $("#questions").append(template(data));
    });
  };
  
  get_questions("/questions.json");
  
  $("#load-more").live("click", function(){
    data.currPage = $(this).data("")
    alert()
  });
  
</script>
</body>
</html>
